// $default-bg: choral !important;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: Lato;
}


.panel{

}




// a few different techniques for using responsive, full bg images
// goal is to do resolution switching, to save bandwidth on diff devices

// http://www.webdesign.org/absolutely-responsive-full-screen-background-images.22549.html
// article doesnt mention Picture polyfill: https://scottjehl.github.io/picturefill/#support

// technique 1) media queries. 
//   - pros: well supported, lets us swap images of diff sizes/resolutions, can use SASS for breakpoints
//   - cons: old browsers still make the extra requests. ugly hacks to fix

// technique 2) image-set for background property in CSS
//   - pros: in SCSS: can centralize bpoints. 
//   - cons: no IE, nor firefox support. needs webkit alt. doesnt use w descriptors.

// technique 3) srcset attribute for img in HTML markup. Use with Picture polyfill
//   - pros: no ie support, mobile support still iffy on the part we need: w descriptors.
//   - cons: breakpoints in markup


// technique 3
.panel--bg-image-srcset {
  position: relative;
  // overflow: hidden;
  // width: 100%;
  // height: 100vh;
}

.panel--bg-color {
  background: #aeaeae;
  // width: 100%;
  height: 100vh;
}


/*

// technique 2

.panel--bg-image-image-set {
  width: 100%;
  height: 10em;

  background: #fcc;
  background-image: url("images/100214_JW_06629_IMG_FIX_2000x1330.jpg");
  background-image: -webkit-image-set(
    url("images/800px/abstract-800.jpg") 1x,
    url("images/1600px/abstract-1600.jpg") 2x
  );
  
  background-image: image-set(
    url("images/800px/abstract-800.jpg") 1x,
    url("images/1600px/abstract-1600.jpg") 2x
  );
}
*/

// technique 3
.panel__background-image {
  position: absolute; 
  // top: 0; 
  // right: 0; 
  // bottom: 0; 
  // min-width: 100%; 
  // min-height: 100%; /* This bit centers the image. */ 
  // left: 50%; 
  // transform: translateX(-50%);
  // overflow-x: hidden; 
}


.panel__header {
  background-color: white;
  height: 10em;
}



.panel__client-title {
  position: absolute;
  width: 80%;
  
  margin: auto;
  // top: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: #FFF;
  padding: 0.75em;
  
  text-align: center;
  text-transform: uppercase;

}



// md
@media (min-width: 48em){
  .panel__client-title {
      
      // height: 4.25em;
      width: 50%;
      // padding: 2em;
      font-size: 4em;

  }
}