// $default-bg: choral !important;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.story__header{
  background: #aeaeae;
}

.story__image{
  max-width: 100%;
}